<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dwtedx.income.dao.IDiAccountMapper" >
  <resultMap id="BaseResultMap" type="com.dwtedx.income.pojo.DiAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="moneysum" property="moneysum" jdbcType="DECIMAL" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="deletefalag" property="deletefalag" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, moneysum, username, userid, name, type, icon, color, sequence, deletefalag, remark, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from di_account
    where deletefalag = 0 and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAccountByUserId" resultType="com.dwtedx.income.pojo.DiAccount" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from di_account
    where deletefalag = 0 and userid = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from di_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dwtedx.income.pojo.DiAccount" useGeneratedKeys="true" keyProperty="id" >
    insert into di_account (id, moneysum, username, 
      userid, name, type, 
      icon, color, sequence, deletefalag, 
      remark, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{moneysum,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{deletefalag,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dwtedx.income.pojo.DiAccount" useGeneratedKeys="true" keyProperty="id" >
    insert into di_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="moneysum != null" >
        moneysum,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="deletefalag != null" >
        deletefalag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moneysum != null" >
        #{moneysum,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="deletefalag != null" >
        #{deletefalag,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwtedx.income.pojo.DiAccount" >
    update di_account
    <set >
      <if test="moneysum != null" >
        moneysum = #{moneysum,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="deletefalag != null" >
        deletefalag = #{deletefalag,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwtedx.income.pojo.DiAccount" >
    update di_account
    set moneysum = #{moneysum,jdbcType=DECIMAL},
      username = #{username,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      deletefalag = #{deletefalag,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>