<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dwtedx.income.dao.IDiUserinviteinfoMapper" >
  <resultMap id="BaseResultMap" type="com.dwtedx.income.pojo.DiUserinviteinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="inviteuserid" property="inviteuserid" jdbcType="INTEGER" />
    <result column="invitephone" property="invitephone" jdbcType="VARCHAR" />
    <result column="invitetime" property="invitetime" jdbcType="TIMESTAMP" />
    <result column="givevip" property="givevip" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deleteflag" property="deleteflag" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createuser" property="createuser" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, inviteuserid, invitephone, invitetime, givevip, status, remark, deleteflag, 
    createtime, createuser, updatetime, updateuser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from di_userinviteinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from di_userinviteinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dwtedx.income.pojo.DiUserinviteinfo" >
    insert into di_userinviteinfo (id, userid, inviteuserid, 
      invitephone, invitetime, givevip, 
      status, remark, deleteflag, 
      createtime, createuser, updatetime, 
      updateuser)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{inviteuserid,jdbcType=INTEGER}, 
      #{invitephone,jdbcType=VARCHAR}, #{invitetime,jdbcType=TIMESTAMP}, #{givevip,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{deleteflag,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dwtedx.income.pojo.DiUserinviteinfo" >
    insert into di_userinviteinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="inviteuserid != null" >
        inviteuserid,
      </if>
      <if test="invitephone != null" >
        invitephone,
      </if>
      <if test="invitetime != null" >
        invitetime,
      </if>
      <if test="givevip != null" >
        givevip,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deleteflag != null" >
        deleteflag,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="inviteuserid != null" >
        #{inviteuserid,jdbcType=INTEGER},
      </if>
      <if test="invitephone != null" >
        #{invitephone,jdbcType=VARCHAR},
      </if>
      <if test="invitetime != null" >
        #{invitetime,jdbcType=TIMESTAMP},
      </if>
      <if test="givevip != null" >
        #{givevip,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwtedx.income.pojo.DiUserinviteinfo" >
    update di_userinviteinfo
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="inviteuserid != null" >
        inviteuserid = #{inviteuserid,jdbcType=INTEGER},
      </if>
      <if test="invitephone != null" >
        invitephone = #{invitephone,jdbcType=VARCHAR},
      </if>
      <if test="invitetime != null" >
        invitetime = #{invitetime,jdbcType=TIMESTAMP},
      </if>
      <if test="givevip != null" >
        givevip = #{givevip,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        deleteflag = #{deleteflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwtedx.income.pojo.DiUserinviteinfo" >
    update di_userinviteinfo
    set userid = #{userid,jdbcType=INTEGER},
      inviteuserid = #{inviteuserid,jdbcType=INTEGER},
      invitephone = #{invitephone,jdbcType=VARCHAR},
      invitetime = #{invitetime,jdbcType=TIMESTAMP},
      givevip = #{givevip,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      deleteflag = #{deleteflag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createuser = #{createuser,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>